
body {
    margin: 0;
    font-family: roboto;
    font-size: 15px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   
}

/* box #1*/

.container-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;

    
    
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    padding-right: 300px;
    
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.main-text {
    font-size: 42px;
    color: #F9FAF8;
    font-weight: 900;
}

  .h-second-text {
    font-size: 14px;
    color: #E5E7EB;
}

ul a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 14px;
}

.header-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
}

img {
    border: 5px solid #3882F6;
    max-width: 350px;
    max-height: 250px; 
    
}

/*box # 2*/

.card {
    
    width: 250px;
    height: 250px;
    text-align: center;
    padding-bottom: 50px;
    
}

.random-info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.container-three {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style:  italic;
    font-weight: lighter;
    color: #1f2937;
}

.container-4 {
    background-color: #3882F6;
    color: #F9FAF8;
}

.call-to-action-butt {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 1px solid #F9FAF8;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
}

.footer {
    background-color:#1f2937;
    color: #E5E7EB;
}